<div>
<h1>Recuperar contraseña</h1>
<form id="forget-form" class="forget-form">
    <div class="form-group">
        <label for="email">Usuario:</label>
        <input type="email" id="email" name="email" placeholder="Ingrese su email" required>
    </div>
    <button id="forgot-password" type="submit">Recuperar</button>
</form>
</div>
<script src="js/forgot.js"></script>